
nav {
    background: url('Images/morgan-housel-X_fbh4Utwk4-unsplash.jpg') no-repeat right / cover;
    height: 700px;
  }
  
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #333;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50; /* set the background color */
    border: none; /* remove the border */
    color: white; /* set the text color */
    padding: 10px 20px; /* add some padding */
    text-align: center; /* center the text */
    text-decoration: none; /* remove underline */
    display: inline-block; /* display as a block element */
    font-size: 16px; /* set the font size */
    border-radius: 5px; /* add some border radius */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* add some shadow */
    transition: all 0.3s ease; /* add transition effect */
  }
  
  button:hover {
    background-color: #3e8e41; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); 
    transform: translate(-1px, -1px); 
  }
  
  #reset {
    background-color: #f44336; 
  }
  
  #reset:hover {
    background-color: #d32f2f; 
  }
#note {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

p {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#exchange-rate {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    color: #777;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}